.step-nav {
  height: 80px;
  position: relative;
  width: 680px;
  margin: 30px auto 70px;
}
.step-nav .step {
  position: relative;
  float: left;
  width: 200px;
  height: 80px;
}
.step-nav .step p {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  pointer-events: none;
  z-index: 10;
  color: #7d7d7d;
  -webkit-transition: font-size 0.3s, color 0.3s;
  transition: font-size 0.3s, color 0.3s;
}
.step-nav .step p.active {
  font-size: 46px;
  color: #fafafa;
}
.step-nav .step .line {
  position: absolute;
  top: 50%;
  margin-top: -3px;
  width: 120px;
  height: 6px;
  background: #d6dadc;
}
.step-nav .step .line .progress {
  width: 0%;
  height: 6px;
  background: #27cbc0;
}
.step-nav .step .radial-progress {
  width: 80px;
  height: 80px;
  background-color: #d6dadc;
  position: absolute;
  right: 0;
  border-radius: 50%;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  cursor: pointer;
}
.step-nav .step .radial-progress .circle .mask,
.step-nav .step .radial-progress .circle .fill,
.step-nav .step .radial-progress .circle .shadow {
  width: 80px;
  height: 80px;
  position: absolute;
  border-radius: 50%;
}
.step-nav .step .radial-progress .circle .mask,
.step-nav .step .radial-progress .circle .fill {
  -webkit-backface-visibility: hidden;
}
.step-nav .step .radial-progress .circle .mask {
  clip: rect(0px, 80px, 80px, 40px);
}
.step-nav .step .radial-progress .circle .mask .fill {
  clip: rect(0px, 40px, 80px, 0px);
  background-color: #27cbc0;
}
.step-nav .step .radial-progress .inset {
  width: 70px;
  height: 70px;
  position: absolute;
  margin-left: 5px;
  margin-top: 5px;
  background-color: #27cbc0;
  border-radius: 50%;
}
.step-nav .step .radial-progress .inset .inner-circle {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fafafa;
  border-radius: 50%;
}
.step-nav .step.first {
  width: 80px;
}
.step-nav .step.first .radial-progress {
  -webkit-transform: matrix(0, 1.3, -1.3, 0, 0, 0);
          transform: matrix(0, 1.3, -1.3, 0, 0, 0);
  z-index: 10;
}
.step-nav .step.first .circle .fill,
.step-nav .step.first .circle .mask.full {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.step-nav .step.first .circle .fill.fix {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.step-nav .step.first .radial-progress.active .inner-circle {
  -webkit-transform: matrix(0, 0, 0, 0, 0, 0);
          transform: matrix(0, 0, 0, 0, 0, 0);
}
.step-nav .step.first p {
  color: #fafafa;
  font-size: 46px;
}
.copy-holder {
  position: relative;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  border: 3px dashed #27cbc0;
  padding: 20px;
  color: #666666;
}
.copy-holder div {
  width: 100%;
  /*position: absolute;*/
	text-align: center;
}
.copy-holder div p {
  display: block;
  text-align: center;
}
.copy-holder div.active {
  opacity: 1;
  visibility: visible;
}
.copy-holder .steps-item {
	display: none!important;
}
.copy-holder .steps-item img {
	margin: 0 auto;
	width: 80%;
}
.copy-holder .active {
	display: block!important;
}



/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .step-nav {
    height: 60px;
    width: 440px;
    margin: 30px auto 60px;
  }
  .step-nav .step {
    width: 125px;
    height: 60px;
  }
  .step-nav .step p {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .step-nav .step .line {
    width: 120px;
  }
  .step-nav .step .radial-progress {
    width: 60px;
    height: 60px;
  }
  .step-nav .step .radial-progress .circle .mask,
  .step-nav .step .radial-progress .circle .fill,
  .step-nav .step .radial-progress .circle .shadow {
    width: 60px;
    height: 60px;
  }
  .step-nav .step .radial-progress .circle .mask {
    clip: rect(0px, 60px, 60px, 30px);
  }
  .step-nav .step .radial-progress .circle .mask .fill {
    clip: rect(0px, 30px, 60px, 0px);
  }
  .step-nav .step .radial-progress .inset {
    width: 50px;
    height: 50px;
  }
  .step-nav .step.first {
    width: 60px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .step-nav {
    height: 40px;
    width: 295px;
    margin: 30px auto 40px;
  }
  .step-nav .step {
    width: 85px;
    height: 40px;
  }
  .step-nav .step p {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .step-nav .step .line {
    width: 80px;
  }
  .step-nav .step .radial-progress {
    width: 40px;
    height: 40px;
  }
  .step-nav .step .radial-progress .circle .mask,
  .step-nav .step .radial-progress .circle .fill,
  .step-nav .step .radial-progress .circle .shadow {
    width: 40px;
    height: 40px;
  }
  .step-nav .step .radial-progress .circle .mask {
    clip: rect(0px, 40px, 40px, 20px);
  }
  .step-nav .step .radial-progress .circle .mask .fill {
    clip: rect(0px, 20px, 40px, 0px);
  }
  .step-nav .step .radial-progress .inset {
    width: 30px;
    height: 30px;
  }
  .step-nav .step.first {
    width: 40px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

